RPH_Delete_Vehicle/bin/Debug/RAGENativeUI.dll
RPH_Delete_Vehicle/bin/Debug/RAGENativeUI.xml
RPH_Delete_Vehicle/bin/Debug/RagePluginHookSDK.dll
RPH_Delete_Vehicle/bin/Debug/RagePluginHookSDK.xml
RPH_Delete_Vehicle/bin/Debug/RAGENativeUI.pdb
